<!DOCTYPE html>
	<html lang="de">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/IIIF-Crashkurs">Home</a></li>
		        	<li><a href="/IIIF-Crashkurs/IIIF Crashkurs">IIIF-Crashkurs</a></li>
	        		<li><a href="/IIIF-Crashkurs/Ressourcen">Ressourcen und Links</a></li>
	        			    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/pieckh/IIIF-Crashkurs" target="_blank">github.com/pieckh/IIIF-Crashkurs</a></li>
                    <li><a href="/IIIF-Crashkurs/Impressum">Impressum und Datenschutz</a></li>
						</ul>
				<br/>
				<p style="font-size:100%;font-family:'Helvetica', 'Arial', 'Sans-Serif';text-align:right;">Website erstellt von Pia Eckhart 2021-04-05
					<br/>Letzte Änderung 2021-04-05</p>
			</footer>
		</body>
	</html>
© 2021 GitHub, Inc.
