<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/IIIF-Crashkurs">Home</a></li>
		        	<li><a href="/IIIF-Crashkurs/IIIF Crashkurs">IIIF Crashkurs</a></li>
	        		<li><a href="/IIIF-Crashkurs/Ressourcen">Ressourcen und Links</a></li>
	        			    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pia.eckhart@geschichte.uni-freiburg.de">email</a></li>
	        		<li><a href="https://github.com/pieckh/iiif-crashkurs">github.com/pieckh</a></li>
				</ul>
			</footer>
		</body>
	</html>
© 2021 GitHub, Inc.